body {
    background-image: url(/img/audioWallpaper.jpg);
    background-size: contain;
    background-color: #101010;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

#wrapper {
    width: 640px;
    margin: 30px auto; /*-- virsus, apacia po 30 px, horizontaliai iscentruotas */
}

nav {
    background-color: rgb(250, 250, 250);
    height: 100px;
    width: inherit;
    padding-bottom: 3px;
}

#defaultBar {
    width: inherit;
    position: relative; /* kad su progressBar nebutu problemu */
    background-color: #606060;
    height: 10px;
}

#progressBar {
    position: absolute; /* kad neislystu is tevinio elemento kuris yra defaultBar */
    height: inherit;
    background-color: #3498DB;
    width: 0px; /*kad atsirastu po to keisim su JS veliau nustatyti 0px*/
}

#playButton { /* NERODO ICON!!!*/
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url("/img/play.png");
    background-repeat: no-repeat;
    background-position: center;
}

#muteButton { /* NERODO ICON!!!*/
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url("/img/muted.png");
    background-repeat: no-repeat;
    background-position: center;
}

#playListButton {
    float: right;
    margin-left: 10px;
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url("/img/playlist.png");
    background-repeat: no-repeat;
    background-position: center;
}

#playList {
    position: absolute;
    width: inherit;
    height: 150px;
    background-color: #4FB6EC;
    display: none;
    overflow:hidden;
}

#playButton:active, #muteButton:active, #playList:active { /* kai paspaus tuo momentu pasikeis padetis siek tiek kad sukurti efekta paspaudimo */
    position: relative;
    top: 2px;
}

#playList ol {
    width: 90%;
    list-style-type: decimal;
    padding-left: 40px;
    margin-left: 0px;
    float: left;
}

#playList ol li {
    width: inherit;
    line-height: 1.5;
    font-size: 150%;
}

#playList a {
    text-decoration: none;
}

#playList ol li span {
    display: block;
    float: right;
    margin-right: 0px;
    padding-right: 10px;
}

.active, #playList ol li:hover {
    font-weight: bold;
    background-color: aqua;
}