body {
    background-color: #101010;
}

#wrapper {
    width: 640px;
    margin: 30px auto; /*-- virsus, apacia po 30 px, horizontaliai iscentruotas */
}

nav {
    background-color: rgb(250, 250, 250);
    width: inherit;
    padding-bottom: 3px;
}

#defaultBar {
    width: inherit;
    position: relative; /* kad su progressBar nebutu problemu */
    background-color: #606060;
    height: 10px;
}

#progressBar {
    position: absolute; /* kad neislystu is tevinio elemento kuris yra defaultBar */
    height: inherit;
    background-color: #3498DB;
    width: 0px; /*kad atsirastu po to keisim su JS veliau nustatyti 0px*/
}

#playButton { /* NERODO ICON!!!*/
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url("/img/play.png");
    background-repeat: no-repeat;
    background-position: center;
}

#muteButton { /* NERODO ICON!!!*/
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url("/img/muted.png");
    background-repeat: no-repeat;
    background-position: center;
}

#playListButton {
    float: right;
    margin-left:10px;
    background-color: rgb(250, 250, 250);
    border: none;
    height: 32px;
    width: 32px;
    background-image: url("/img/playlist.png");
    background-repeat: no-repeat;
    background-position: center;
}

#playList {
    width: inherit;
    height: 200px;
    background-color: #4FB6EC;
    display: none;
}

#playButton:active, #muteButton:active, #playList:active { /* kai paspaus tuo momentu pasikeis padetis siek tiek kad sukurti efekta paspaudimo */
    position: relative;
    top: 2px;
}